* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.colors .grid > *:first-child {
    margin-top: 50px;
  text-align: center;
  grid-column: 1 / span 4;
}

button {
  background: none;
  border: 2px solid;
  border-radius: 5px;
  font: inherit;
  line-height: 0.8;
  margin: 0.5em;
  padding: 1em 2em;
}

.pink {
  color: #fff;
  background-color: #ff0063;
}
