* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0a0a46d8;
}

body {
  /* background: linear-gradient(45deg, #020024, #0a0a46d8); */
  background: var(--primary-color);
  color: #fff;
}

.modal {
  background-color: #ffffff;
  width: 700px;
  height: 300px;
  color: #050505;
  text-align: center;
  margin: 3% 3%;
  border-radius: 5px;
  position: relative;
  /* display: none; */
}

.modal .badge {
    position: absolute;
    top: +3px;
    right: +3px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }

.modal p {
  padding: 30px;
  font-size: 1.5rem;
}

.modal .btns {
  transform: translate(0, 430%);
}

button {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font: inherit;
  line-height: 0.8;
  padding: 10px 30px;
  cursor: pointer;
  box-shadow: 0 2px #999;
}

.modal button:active {
  transform: scale(0.98);
  box-shadow: none;
}

.modal button:nth-child(1):hover {
  background: #008080;
  color: #fff;
}

.modal button:nth-child(2):hover {
  background: #ff4500;
  color: #fff;
}
.modal button:nth-child(3):hover {
  background: linear-gradient(45deg, #008080, #ff4500);
  color: #fff;
}
